#main{
  color: navy;
}


* {
  text-align: center;
}

h1, h2,h3 {
  font-family: Georgia;
}

.text {
  color: white;
  background-color: cornflowerblue;
  
}


div > button {
  background-color: purple;
  color: azure;
  
}


#yes {
  color: green;
  font-weight: bold;
}
#no {
  color: red;
  font-weight: bold;
}


.nik {
  text-decoration: underline;
  font-style: italic;
}


#wrapper p {
  font-weight: bold;
  color: green;
}